body, html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto;
}


#intro-screen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle at center, #000010, #000000);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

canvas {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
}